/* *{
    padding: 0px;
    margin: 0px;
}*/
img.my_photo {
    width: 30%;
    border: 2px solid red;
}
body p.centered{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
body {
    background-color: wheat;
    padding: 70px;
    border: 2px solid black;
    margin: 10px;
}
h2{
    background-color: rgb(230, 198, 157);
}
a {
    color: blue;
}
a.vk{
    color: red;
}
.textstyle {
    margin: 30px;
}
.feedback-form input, .feedback-form textarea{
      width: 100%;
}
.feedback-form textarea{
    height: 100px;
}
